* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}








.navbar {
    background: #131921;
    color: white;
    display: flex;
    align-items: center;
    padding: 12px 20px;
    gap: 20px;
}




.logo {
    font-size: 26px;
    font-weight: bold;
    color: #ff9900;
}




.search-box {
    flex: 1;
    display: flex;
}




.search-box input {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
}




.search-box button {
    background: #febd69;
    border: none;
    padding: 10px 14px;
    cursor: pointer;
}




.nav-links {
    display: flex;
    gap: 25px;
    font-size: 12px;
}




.nav-links p {
    font-weight: bold;
}




.cart {
    font-size: 18px;
}


.menu {
    background: #232f3e;
    padding: 10px 20px;
}




.menu a {
    color: white;
    margin-right: 18px;
    text-decoration: none;
    font-size: 14px;
}




.menu a:hover {
    text-decoration: underline;
}


.hero {
    height: 350px;
    background: linear-gradient(
        rgba(0,0,0,0.4),
        rgba(0,0,0,0.6)
    ),
    url("amazon1.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 40px;
    color: white;
}


.hero-text h1 {
    font-size: 40px;
}


.hero-text p {
    font-size: 18px;
    margin-top: 10px;
}


.products {
    background: #e3e6e6;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 25px;
}


.product-card {
    background: white;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}


.product-card:hover {
    transform: translateY(-5px);
}


.product-card h3 {
    margin-bottom: 10px;
}


.product-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    margin-bottom: 10px;
}


.product-card a {
    color: #5761eb;
    text-decoration: none;
    font-weight: bold;
}


.footer {
    background: #131921;
    color: white;
    text-align: center;
    padding: 18px;
    font-size: 14px;
}

